{% extends 'base.html' %}
{% load subtract %}

{% block title %}
    Train: {{ train.train_number}}
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <h2 > Route: {{ train.from_city }}-{{ train.to_city }} </h2>

            <h3> Train number: {{ train.train_number }} </h3>
            <h4> Start at: {{ train.trip_end_time|date:"d/m/y, H:i" }} </h4>
            <h4> Arrive at: {{ train.trip_end_time|date:"d/m/y, H:i" }} </h4>
            <h4> Total trip time: {{ train.trip_end_time|subtract_date:train.trip_start_time }} </h4>

            <a href="{% url 'trains:view_trains'  %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary btn-block" >
                    Go back to all trains
                </button>
            </a>
            <br>
        </div>
    </div>

{% endblock %}

            <a href="{% url 'trains:edit_train' train_pk=train.pk   %}" class="text-decoration-none">
                <button type="button" class="btn btn-primary btn-block"> 
                    Edit train
                </button>
            </a>
            <br>
            <a href="{% url 'trains:delete_train' train_pk=train.pk %}" class="text-decoration-none">
                <button type="submit" class="btn btn-danger btn-block">
                    Delete train
                </button>
            </a>
