{% extends "base.html" %}

{% block title %}
    Adding the city
{% endblock %}

{% block content %}

    <div class="container">
        {% include "inc/_form.html" with header="<h2> Adding the city </h2>"  btn_class="btn btn-primary btn-block" btn_message="Add the city"%}
    </div>

    <br>

    <div class="col-md-5 mx-auto">
        <a href="{% url 'cities:view_cities' %}" class="text-decoration-none">
            <button type="submit" class="btn btn-primary btn-block"> 
                View all cities
            </button>
        </a>
    </div>

{% endblock %}
