{% extends "base.html" %}

{% block title %}
	Editing the city
{% endblock %}

{% block content %}


    {% include "inc/_form.html" with header="<h2> Editing city </h2>" btn_class="btn btn-primary btn-block" btn_message="Edit city"%}

    <br>

    <div class="row">
        <div class="col-md-5 mx-auto">
            <a href="{% url 'cities:delete_city' city_pk=city.pk %}" class="text-decoration-none">
                <button type="submit" class="btn btn-danger btn-block">
                    Delete city
                </button>
            </a>
        </div>
    </div>

{% endblock %}
