{% extends 'base.html' %}

{% block title %}
    Trains from {{ from_city }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto my-4">
            <table class="table table-hover">
                <h2> Schedule for trains from: {{ from_city }} </h2>
                <thead>
                    <tr>
                        <th> Train № </th>
                        <th> To </th>
                        <th> Departs </th>
                        <th> Arrives </th>
                        <th> Total trip time </th>
                    </tr>
                </thead>
                <tbody>
                {% for train in trains_from_city %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            <a href="{% url 'trains:view_train' train_pk=train.pk %}"> {{ train.train_number }} </a>
                        </td>
                        <td>
                            <a href="{% url 'cities:view_city' city_pk=train.to_city.pk %}">{{ train.to_city }}</a>
                        </td>
                        <td>
                            {{ train.trip_start_time|date:"d/m/y, H:i"}}
                        </td>
                        <td>
                            {{ train.trip_end_time|date:"d/m/y, H:i" }}
                        </td>
                        <td>
                            {{ train.total_trip_time }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-3">
        {% include "inc/_paginantion.html" %}
    </div>
{% endblock %}

